@media all and (max-width: 1000px) {
    .User {
        grid-template-columns: auto;
        grid-template-areas: 
            "header"
            "aside"
            "section"
            "footer";
    }    
    .User ul {
        justify-content: center;
    }
}
@media all and (min-width: 1000px) { 
     .User {
        grid-template-columns: 20vw auto;
        grid-template-rows: 1fr 2fr auto;
        grid-template-areas: 
            "header section"
            "aside section"
            "footer footer";
    }  
    .User ul {
        flex-direction: column;
    }      
}

.User {
    display: grid; 
    grid-gap: 10px; 
    min-height: 100vh;
}

.User .UserInfo {
    grid-area: header;
}

.User section {
    grid-area: section;
    background: rgba(195, 141, 158, 0.404);
    display: flex;
    align-items: center;
    justify-content: center;
}

.User footer {
    grid-area: footer;
}

.User ul {
    grid-area: aside;
    background: rgba(226, 124, 96, 0.144);
    display: flex; 
    align-items: center;
}

.User li { 
    width: 15vw;
    display: block;
    list-style: none;
    margin: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
    background-color: #E27D60;
}

.User a {
    text-decoration: none;
}