.group {
    display: flex;
}

.title {
    text-align: center;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.group {
    display: flex;
}

.wrapper {
   height: 80%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.rating {
    width: 50px;
}

.form {
    width: 300px;
    height: 420px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.textarea {
    height: 200px;
}