<div>
    <mat-card *ngIf="item$ | async as item" class="card"> 
        <mat-card-title>{{item.name}}</mat-card-title>
        <mat-card-title>{{item.type}}</mat-card-title>
        <div class="price">
            <mat-card-subtitle>{{item.price}}</mat-card-subtitle>
            <mat-card-subtitle>$</mat-card-subtitle>
        </div>
        <div class="button">
            <button mat-stroked-button color="primary" [routerLink]="['/equipment']">Back</button>
            <button mat-stroked-button color="primary" (click)="order(item.id)">Order</button>
        </div>
    </mat-card>
</div>